<!--/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/-->
<sly data-sly-use.widgetModel="com.adobe.learning.core.models.ALMWidgetModel">
  <sly data-sly-test="${widgetModel.hasWidgetConfig}">
    <div class="alm-widget-container" 
         data-widget-props='${widgetModel.widgetConfigs @ context="unsafe"}'
         style="margin: calc(var(--prime-layout-gutter-space, 10px) * 2) calc(var(--prime-layout-gutter-space) / 2);">
    </div>
  </sly>
  <sly data-sly-test="${!widgetModel.hasWidgetConfig}">
    <div class="alm-widget-placeholder" style="padding: 20px; border: 2px dashed #ccc; text-align: center; background-color: #f9f9f9;">
      <p style="margin: 0; color: #666; font-style: italic;">
        Please configure the widget type in the component dialog to render the Adobe Learning Manager widget.
      </p>
    </div>
  </sly>
</sly>
